
{% layout "layout.liquid" %}

{% block content %}
  <a href="/signup">Signup</a>
  <div x-data="{ email: '', password: '' }">
    <form x-on:submit.prevent="submit({ email: email, password: password })">
      <div>
        <label>Email</label>
        <input type="email" x-model="email"> 
      </div>
      <div>
        <label>Password</label>
        <input type="password" x-model="password"> 
      </div>
      <button>Log in</button>
    </form>
  </div>

  <script>
    function submit(model) {
      return fetch('/api/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(model)
      })
        .then(() => {
          debugger
          window.location.href = '/dashboard'
        }, () => {
          console.log('Login failed')
        })
    }
  </script>
{% endblock %}
