{% layout "layout.liquid" %}

{% block content %}

    <h1>Privacy</h1>

    <p>Last updated: Sept 01, 2020</p>

    <p>At Prosaic (“Prosaic”, “we”, or “us”), privacy is important to us. Our subscription-based business model allows us to prioritize your privacy without compromise. It is our policy to respect your privacy regarding any information we may collect to provide and improve our Services.</p>

    <p>Your continued use of our Services will be regarded as acceptance of our practices around privacy and use of personal information. If you have any questions, feel free to contact us.</p> 

    <hr />

    <p>We only ask for personal information when necessary to provide and maintain our Services, or to notify you about any changes. We use temporary session cookies in order to allow you to remain logged in while using our Services.</p>

    <p>We only retain collected information for as long as necessary to provide you with our Services. You may permanently delete your account and all data associated with it at any point by contacting us.</p>

    <p>In order to provide paid Services, we rely on Stripe for payment processing. We do not store or collect your payment card details, that information is provided directly to Stripe whose use of your personal information is governed by their own [Privacy Policy](https://stripe.com/privacy). Stripe commits to security with compliance to the Payment Card Industry Data Security Standard (PCI-DSS).</p>

    <p>We do not share any personally identifying information with third parties, except when required by law. We will never sell or use your information for any tracking, analytics, or advertising purposes.</p>

    <hr />

    <p>We are constantly improving our Services and may need to make occasional changes to this Privacy Policy. We will notify you of any changes by posting a notice on our site, sending you an email, and/or by some other means. If you continue to use our Services after any changes to the Privacy Policy have been posted, that means you agree to all of the changes.</p>

{% endblock %}