{% layout "layout.liquid" %}

{% block content %}

    <h1>Terms of Service</h1>

    <p>Last updated: Sept 01, 2020</p>

    <p>The following Terms govern all use of Prosaic's Services. By using our Services, you accept our practices around <a href="/privacy.html">privacy</a> and agree to become bound by these Terms and their conditions.</p>

    <p>We reserve the right to alter these Terms at any time as we make improvements to our Services. We will notify you of any changes by posting a notice on our site, sending you an email, and/or by some other means.</p>

    <hr />

    <h2>General</h2>

    <p><strong>Account</strong> You are responsible for keeping your account information up-to-date and your password secure. You are fully responsible for all activities that occur under the account and any other actions taken in connection with your blog(s).</p>

    <p><strong>Minimum Age Requirements</strong> You must be over the age of 13 (or 16 in the European Union) to use our Services. Any individual who registers for an account represents that they meet these minimum age requirements.</p>

    <p><strong>Fees</strong> Prosaic charges recurring fees in USD for our Services. To ensure uninterrupted service, you will automatically be charged at regular intervals (monthly or annually) on a pre-pay basis until either party decides to cancel your subscription or account.</p>

    <p><strong>Taxes</strong> You are responsible for payment of all applicable taxes relating to your use of our Services.</p>

    <p><strong>Cancellation</strong> You have the right to cancel your subscription at any time. We may immediately cancel or revoke access to our Services if your payment is not made on time, fails, or is suspected to be fraudulent.</p>

    <p><strong>Refunds</strong> Refunds will be issued at our sole discretion unless otherwise required by applicable law.</p>

    <p><strong>Termination</strong> We reserve the right to modify or terminate your access to our Services for any reason, at any time, and without notice.</p>

    <hr />

    <h2>Content and Ownership</h2>

    <p>We do not claim ownership rights over any text, images, or other materials that are posted to our Services.  By posting content, you grant Prosaic only the limited rights that are reasonably necessary to provide our Services, which include, without limitation, the right to store and display that content.</p>

    <p>We are not responsible for any information posted to our Services. You agree to only post content that you own or otherwise have a right to share.</p>

    <p>It is your sole responsibility to back-up any content posted to our Services. You acknowledge and agree that if you delete your account or it is otherwise terminated, you may no longer have access to your content via our Services.</p>

    <hr />

    <p>Our Services are provided “as is." You agree to use our Services at your own discretion and risk, without any warranty or guarantee that our Services will be error free or that access thereto will be continuous or uninterrupted. You agree to indemnify and hold harmless Prosaic from and against any and all claims and expenses, including legal fees, arising out of your use of our Services.</p>

    <hr />

    If you have any questions regarding these Terms or your use of our Services, please contact us.

{% endblock %}
