
// Site Navigation

.site-header {
  background-color: #fafafa;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4em;
  font-family: $system-sans;
}

.nav-logo a {
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  color: $black;
}

.nav-links {
  list-style: none;
  margin: 0;
}

.link-item {
  display: inline-block;
}

.link-item a {
  display: block;
  font-size: 0.8em;
  font-weight: 500;
  color: $darker-gray;
  padding: 0.8em 1.2em;
  border-radius: 3px;
  transition: all ease 0.3s;
  
  &:hover {
    text-decoration: none;
    color: $black;
    background: $white;
  }
}

.svg-icon {
  display: inline-flex;
  align-self: center;
  fill: currentColor;
  width: 1em;
  height: 1em;
}

.svg-icon svg {
  height:1em;
  width:1em;
  top: .125em;
  position: relative;
}

.svg-icon.left {
  margin-right: 0.2em;
}

.svg-icon.right {
  margin-left: 0.2em;
}

// Page header

.header-content {
  position: relative;
  text-align: center;
  padding: 4em 0 6em 0;
}

.header-content:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: $lighter-gray 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: $white;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  box-shadow: $white 0 0 0 5px;
}

.header-title {
  font-size: 3em;
  letter-spacing: -1px;
  font-weight: 700;
  margin-bottom: 0;
  -webkit-animation: fade-in-down 0.6s;
  animation: fade-in-down 0.6s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.header-description {
  font-family: $system-serif;
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-top: 0.5em;
  color: $darker-gray;
  -webkit-animation: fade-in-down 0.9s;
  animation: fade-in-down 0.9s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

// Content container

.content {
  max-width: 46em;
  margin: 2em auto;
  padding: 0 1em;
  overflow: hidden;
  word-wrap: break-word;
}


// Posts

.post {
  position: relative;
  margin: 2rem auto;
  padding-bottom: 2rem;
  border-bottom: 1.5px solid $lighter-gray;
  word-break: break-word;
  hyphens: auto;
}
 
.post:after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: $lighter-gray 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: $white;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  box-shadow: $white 0 0 0 5px;
}

.post-header {
  margin-bottom: 2rem;
}

.post-title {
  margin-bottom: 0.5rem;
}

.post-title a {
  color: $black;
}

.posts .post-header {
  margin-bottom: 1rem;
}

.posts .post-title {
  font-size: 1.75em;
}

.post-date {
  display: inline-block;
  font-size: 75%;
  font-family: $system-sans;
  font-weight: 500;
  letter-spacing: .05rem;
  text-transform: uppercase;
  color: $darker-gray;
}