@import 'sass/_reset.scss';
@import 'sass/_type.scss';

header {
    .content-container {
      padding: 1em 0;
      .content {
        max-width: 740px;
        padding: 0 20px;
        margin: 0 auto;
      }
    }
    h1 {
        font-size: 1.375em;
        margin-bottom: 1rem;
    }
    h1 a {
        color: #333;
        text-decoration: none;
        border: none;
    
        &:hover {
          color: #1E55AE;
        }
      }
    p {
        margin-top: 0;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
  }

.home {
    text-align: center;
    h1 {
        font-size: 2rem;
    }
}
  

main {
  max-width: 740px;
  padding: 0 20px;
  margin: 0 auto;
}

.title-group {
  .title h1 {
    margin-bottom: 0.5em;
  }
  .date {
    color: #555;
    font-weight: 600;
    margin: 0;
  }
  margin-bottom: 1.5em;
}

footer {
  margin-top: 3em;
  text-align: center;
  .content-container {
    padding: 2em 0;
    .content {
      max-width: 740px;
      padding: 0 20px;
      margin: 0 auto;
    }
  }
  .copy {
    border-right: 2px solid #ccc;
    padding-right: 0.5em;
    margin-right: 1em;
  }
  a {
      text-decoration: none;
  }
}

.horizontal-links {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.25em;
  a {
    border-right: 2px solid #ccc;
    padding-right: 0.5em;
    margin-right: 0.5em;
  }
  a:last-child {
    border: none;
  }
  &:last-child {
    margin-bottom: 1.25em;
  }
}

.post-list {
  h1 a {
    color: #333;
    text-decoration: none;
    border: none;

    &:hover {
      color: #1E55AE;
      border-bottom: 2px dotted #aaa;
    }
  }
  .content {
    margin-bottom: 1em;
  }
  .read-more {
    margin-bottom: 1.25em;
  }

  padding-bottom: 1.5em;
  border-bottom: 2px dotted #aaa;
}

.tags {
  font-size: 0.9em;
  padding: 1rem 0;
  margin: 2rem 0;
  border-top: 2px dotted #aaa;
  .links {
    display: inline;
    margin-left: 0.5em;
    a {
      color: #aaa;
      text-decoration: none;
      border-bottom: none;
      &:hover {
        color: #888;
        text-decoration: underline;
      }
    }
  }
}

.paginator {
  margin: 2em 0;
  .disabled {
    color: #555;
  }
  .newer {
    float: right;
    clear: both;
  }
}

.current-page {
  color: #aaa;
}

.svg-icon {
    display: inline-flex;
    align-self: center;
    fill: currentColor;
    width: 1em;
    height: 1em;
  }
  
  .svg-icon svg {
    height:1em;
    width:1em;
    top: .125em;
    position: relative;
  }
  
  .svg-icon.left {
    margin-right: 0.2em;
  }
  
  .svg-icon.right {
    margin-left: 0.2em;
  }
  
